.flashcard {
  width: 200px;
  height: 120px;
  perspective: 1000px; 
  cursor: pointer;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard-inner.flipped {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #421055; 
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

.flashcard-back {
  transform: rotateY(180deg); 
}
